<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.PdfDoc" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.1.5315" newVersion="10.6.1.5315" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.PdfReader" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.1.5315" newVersion="10.6.1.5315" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Atalasoft.dotImage.PdfDoc.Bridge" publicKeyToken="2b02b46f7326f73b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.6.1.5315" newVersion="10.6.1.5315" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>